html{
    background-color: #FFEAD3;
}
#main{
  font-family: "Gravitas One", serif;
  font-weight: 400px;
  font-style: normal;
}

#box{
    display: flex;
    justify-content: space-between;

}

#resumephoto{
    display: flex;
    height: fit-content;
    width: fit-content;
    border: 10px solid #9E3B3B;
    border-radius: 15px;
}

#personalInf{

    }